{% extends 'interactive_list_template.html' %}

{% block title %}
    На руки
{% endblock %}

{% block ajax_src %}{% url get_credits_list %}{% endblock %}

{% block table_headers %}
    <th>
        Id
    </th>
    <th>
        Is active
    </th>
    <th width="250px">
        Дата
    </th>
    <th>
        Имя
    </th>
    <th width="50px">
        Количество
    </th>
    <th>
        Комментарий
    </th>
    <th width="100px">
        Магазин
    </th>
{% endblock %}

{% block popup_action %}{% url credits_tool %}{% endblock %}
{% block popup_title %}Закрыть позицию?{% endblock %}
{% block popup_text %}Вы уверены, что хотите закрыть позицию?{% endblock %}
{% block popup_form %}{{ credit_form }}{% endblock %}