{% extends 'list_template.html' %}

{% block title %}
    На руки
{% endblock %}

{% block ajax_src %}{% url get_credits_list %}{% endblock %}

{% block table_headers %}
    <th>
        Id
    </th>
    <th>
        Is active
    </th>
    <th width="250px">
        Дата
    </th>
    <th>
        Имя
    </th>
    <th width="50px">
        Количество
    </th>
    <th>
        Комментарий
    </th>
    <th width="100px">
        Магазин
    </th>
{% endblock %}

{% block additional_table_settings %}'fnRowCallback': function(nRow, aData, iDisplayIndex)
{
    var $row = $(nRow);
    var $myTable = $('#list-table');
    var active = aData[1] === 'True';

    if (active)
        $row.addClass('active_entry');

    if (active)
    {
        $row.dblclick(function (e)
        {
            var $dialog = $("#dialog-confirm");
            var $form = $dialog.find('form');
            var $errors = $('#errors');
            var $progress_image = $dialog.find('#progress_image');

            $form.find('#id_credit_entry_id').val(aData[0]);

            $dialog.dialog({
                resizable:false,
                modal:true,
                width:500,
                buttons:{
                    Да:function ()
                    {
                        $progress_image.show();

                        $.ajax({
                            url:'{% url credits_tool %}',
                            type:'POST',
                            data:$form.serialize(),
                            dataType:'json',
                            success:function (json)
                            {
                                $progress_image.hide();

                                if (json.success)
                                {

                                    $dialog.dialog('close');

                                    $myTable.dataTable().fnClearTable();
                                    $myTable.dataTable().fnDraw();
                                }
                                else
                                    $errors.noty({text:json.html, type:'error'});
                            },
                            error:function (xhr, ajaxOptions, thrownError)
                            {
                                $progress_image.hide();
                                $errors.noty({text:thrownError, type:'error'});
                            }
                        });
                    },
                    Нет:function ()
                    {
                        $dialog.dialog("close");
                    }
                }
            });
        });
    }

    return nRow;

},{% endblock %}

{% block col_defs %}
    { 'bSortable': false, 'aTargets': [ 3, 4, 5 ] },
    { "bSearchable": false, "bVisible": false, "aTargets": [ 0, 1 ] },
{% endblock %}

{% block additional %}
    <div id="dialog-confirm" title="Закрыть позицию?" style="display: none;">
        <div style="margin: 10px;width: 100%;">
            Вы уверены, что хотите закрыть позицию?
            <img src="/static/images/progress.gif" alt="progressbar" id="progress_image"
                 style="vertical-align: middle; padding-left: 7%; display: none;"/>
        </div>
        <form action="{% url credits_tool %}" method="post">
            {% csrf_token %}

            {{ credit_form }}
            <div id="errors"></div>
        </form>
    </div>
{% endblock %}