<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>mazdai</title>
    <link rel="Stylesheet" href="/static/css/jquery.dataTables.css" type="text/css"/>
    <link rel="Stylesheet" href="/static/css/jquery-ui-1.8.23.custom.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/static/js/jquery.noty.js"></script>
    <script type="text/javascript" src="/static/js/inline.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>

    <script type="text/javascript" src="/static/js/main_page.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#positions-table').dataTable({
                "bPaginate": false,
                "bServerSide": true,
                "sAjaxSource": "{% url get_positions_list %}",
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "bJQueryUI": true,
                "sDom": '<"toolbar">frtip',
                "sScrollY": "200px",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ {{ non_sortable_columns }} ] }
                ]
            });

            {% if is_authenticated%}
                myJS();
            {% endif %}
        } );
    </script>
</head>
<body>
<table id="positions-table">
    <thead>
    <tr>
        <th width="50px">
            Номер
        </th>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        <th width="100px">
            Цена
        </th>
        {% for market in markets %}
            <th width='100px'>
                {{ market.name }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{% if is_authenticated%}
    {% url sales as sales_url %}
    {% include 'popup_template.html' with popup_id='salesPopup' form_action=sales_url form=saleForm %}

    {% url moves as moves_url %}
    {% include 'popup_template.html' with popup_id='movePopup' form_action=moves_url form=moveForm %}

    {% url credits as credits_url %}
    {% include 'popup_template.html' with popup_id='creditPopup' form_action=credits_url form=creditForm %}

    {% url orders as orders_url %}
    {% include 'popup_template.html' with popup_id='orderPopup' form_action=orders_url form=orderForm %}

    {% url refills as refills_url %}
    {% include 'popup_template.html' with popup_id='refillPopup' form_action=refills_url form=refillForm %}

    {% url refunds as refunds_url %}
    {% include 'popup_template.html' with popup_id='refundPopup' form_action=refunds_url form=refundForm %}

    <br/>
    <br/>

    <div id='bottom_links'>
        <a href='{% url sales %}'>Лист продаж</a>
        <a href='{% url moves %}'>Лист расходов</a>
        <a href='{% url credits %}'>Лист на руки</a>
        <a href='{% url orders %}'>Лист заказов</a>
        <a href='{% url refills %}'>Лист пополнений</a>
        <a href='{% url refunds %}'>Лист возвратов</a>
        <a href='{% url logout %}'>Выход</a>
    </div>
{% else %}
    {% url login as login_url %}
    {% include 'popup_template.html' with popup_id='loginPopup' form_action=login_url form=loginForm %}

    <script type="text/javascript">
        $('document').ready(function()
        {
            var $toolbar = $("div.toolbar");

            var $login_popup = $('#loginPopup');
            createPopup($login_popup, 'Вход');

            var $button = $('<input/>').attr('type', 'button').val('Вход').button();
            $button.click(function ()
            {
                $login_popup.dialog('open');
            });
            $toolbar.append($button);

            var $form = $login_popup.find('form');
            $form.submit(function(e)
            {
                e.preventDefault();

                var $errors = $login_popup.find('.errors');

                $form.find('.submit_button').attr('disabled', 'disabled');
                $form.find('.progress_image').show();

                $.ajax({
                    url:$form.attr('action'),
                    type:$form.attr('method'),
                    data:$form.serialize(),
                    dataType:'json',
                    success:function (json)
                    {
                        $form.find('img.progress_image').hide();
                        $login_popup.find('.submit_button').removeAttr('disabled');
                        if (json.success)
                        {
                            location.replace('/');
                        }
                        else
                            $errors.noty({text:json.html, type:'error'});
                    },
                    error:function (xhr, ajaxOptions, thrownError)
                    {
                        $form.find('img.progress_image').hide();
                        $errors.noty({text:thrownError, type:'error'});
                        $login_popup.find('.submit_button').removeAttr('disabled');
                    }
                })

            });
        })
    </script>
{% endif %}
</body>
</html>