<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>mazdai</title>
    <link rel="Stylesheet" href="/static/css/jquery.dataTables.css" type="text/css"/>
    <link rel="Stylesheet" href="/static/css/jquery-ui-1.8.23.custom.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/static/js/jquery.noty.js"></script>
    <script type="text/javascript" src="/static/js/inline.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>

    <script type="text/javascript" src="/static/js/myscript.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#positions-table').dataTable({
                "bPaginate": false,
                "bServerSide": true,
                "sAjaxSource": "{% url get_positions_list %}",
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "bJQueryUI": true,
                "sDom": '<"toolbar">frtip',
                "sScrollY": "200px",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ {{ non_sortable_columns }} ] }
                ]
            });

            myJS();
        } );
    </script>
</head>
<body>
<table id="positions-table">
    <thead>
    <tr>
        <th width="50px">
            Номер
        </th>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        <th width="100px">
            Цена
        </th>
        {% for market in markets %}
            <th width='100px'>
                {{ market.name }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

{% url sales as sales_url %}
{% include 'popup_template.html' with popup_id='salesPopup' form_action=sales_url form=saleForm %}

{% url moves as moves_url %}
{% include 'popup_template.html' with popup_id='movePopup' form_action=moves_url form=moveForm %}

{% url credits as credits_url %}
{% include 'popup_template.html' with popup_id='creditPopup' form_action=credits_url form=creditForm %}

<br/>
<br/>
<div id='bottom_links'>
    <a href='{% url sales %}'>Лист продаж</a>
    <a href='{% url moves %}'>Лист расходов</a>
    <a href='{% url credits %}'>Лист расходов</a>
</div>
</body>
</html>