<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>mazdai</title>
    <link rel="Stylesheet" href="/static/css/jquery.dataTables.css" type="text/css"/>
    <link rel="Stylesheet" href="/static/css/jquery-ui-1.8.23.custom.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="/static/js/jquery.noty.js"></script>
    <script type="text/javascript" src="/static/js/inline.js"></script>
    <script type="text/javascript" src="/static/js/default.js"></script>

    <script type="text/javascript" src="/static/js/myscript.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#positions-table').dataTable({
                "bPaginate": false,
                "bServerSide": true,
                "sAjaxSource": "{% url get_positions_list %}",
                "bScrollInfinite": true,
                "bScrollCollapse": true,
                "bJQueryUI": true,
                "sDom": '<"toolbar">frtip',
                "sScrollY": "200px",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ {{ non_sortable_columns }} ] }
                ]
            });

            myJS();
        } );
    </script>
</head>
<body>
<table id="positions-table">
    <thead>
    <tr>
        <th width="50px">
            Номер
        </th>
        <th>
            Имя
        </th>
        <th>
            Описание
        </th>
        {% for market in markets %}
            <th width='100px'>
                {{ market.name }}
            </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<div id='salesPopup' style="display: none;" class="popup">
    <form action='{% url sales %}' method="post">
        {% csrf_token %}

        {% for field in saleForm %}
            <div style="clear: both; padding: 10px;">{{ field.label_tag }}:<div style="float: right;">{{ field }}</div></div>
        {% endfor %}

        <div>
            <input type="submit" value="Готово" class="submit_button"/>
            <img src="/static/images/progress.gif" alt="progressbar" class="progress_image"
                 style="left: 25%; position: relative; vertical-align: middle; display: none;"/>
        </div>
    </form>
    <br/>
    <div class="errors"></div>
</div>

<div id="movePopup" style="display: none;" class="popup">
    <form action='{% url moves %}' method="post">
        {% csrf_token %}

        {% for field in moveForm %}
            <div style="clear: both; padding: 10px;">{{ field.label_tag }}:<div style="float: right;">{{ field }}</div></div>
        {% endfor %}

        <div style="clear: both;">
            <input type="submit" value="Готово" class="submit_button"/>
            <img src="/static/images/progress.gif" alt="progressbar" class="progress_image"
                 style="left: 25%; position: relative; vertical-align: middle; display: none;"/>
        </div>
    </form>
    <br/>
    <div class="errors"></div>
</div>

<div id="creditPopup" style="display: none;" class="popup">
    <form action='{% url credits %}' method="post">
        {% csrf_token %}

        {% for field in creditForm %}
            <div style="clear: both; padding: 10px;">{{ field.label_tag }}:<div style="float: right;">{{ field }}</div></div>
        {% endfor %}

        <div style="clear: both; padding-top: 10px;">
            <input type="submit" value="Готово" class="submit_button"/>
            <img src="/static/images/progress.gif" alt="progressbar" class="progress_image"
                 style="left: 25%; position: relative; vertical-align: middle; display: none;"/>
        </div>
    </form>
    <br/>
    <div class="errors"></div>
</div>

<br/>
<br/>
<div id='bottom_links'><a href='/sales/'>Лист продаж</a></div>
</body>
</html>