<div id="{{ popup_id }}" style="display: none;" class="popup">
    <form action='{{ form_action }}' method="post">
        {% csrf_token %}

        {% for field in form %}
            <div style="clear: both; padding: 10px;">
                {% if not field.is_hidden%}
                    {{ field.label_tag }}:
                {% endif %}
                <div style="float: right;">{{ field }}</div>
            </div>
        {% endfor %}

        <div style="clear: both; padding: 10px;">
            <input type="submit" value="Готово" class="submit_button"/>
            <img src="/static/images/progress.gif" alt="progressbar" class="progress_image"
                 style="left: 25%; position: relative; vertical-align: middle; display: none;"/>
        </div>
    </form>
    <br/>
    <div class="errors"></div>
</div>