<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Отчёт по продажам</title>
    <link rel="Stylesheet" href="/static/css/report.css" type="text/css"/>
</head>
<body>

{% load filters %}

<h1>Отчёт по продажам на {{ date }}</h1>
<hr/>
{% for market_name, entries in grouped_entries.items %}
    <h2>{{ market_name }}</h2>
    <table cellspacing="0" border="1px solid black">
    <thead>
    <tr>
        <th>Номер</th>
        <th>Имя</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сумма</th>
    </tr>
    </thead>
    <tbody>

    {% for entry in entries %}
        <tr>
            <th>{{ entry.position.id }}</th>
            <th>{{ entry.position.name }}</th>
            <th>{{ entry.position.description }}</th>
            <th>{{ entry.position.price }}</th>
            <th>{{ entry.quantity }}</th>
            <th>{{ entry|calculate_sum }}</th>
        </tr>
    {% endfor %}

    <tr>
        <th colspan="4"></th>
        <th>Итого</th>
        <th>{{ entries|calculate_total_sum }}</th>
    </tr>
    </tbody>
    </table>

{% empty %}
    <h2>Никаких продаж</h2>
{% endfor %}
</body>
</html>